<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title_app}} - Register</title>
    <link rel="stylesheet" href="../static/css/cadastro.css">
    <script src="../static/js/cadastro.js"></script>
</head>
<body>
    <form id="msform">
        <fieldset>
        <h2 class="fs-title">Personal Details</h2>
        <h3 class="fs-subtitle">We will never sell it</h3>
        <input type="text" name="fname" placeholder="First Name" />
        <input type="text" name="lname" placeholder="Last Name" />
        <input type="text" name="phone" placeholder="Phone" />
        <textarea name="address" placeholder="Address"></textarea>
        <input type="button" name="previous" class="previous action-button" value="Back Menu" />
        <input type="submit" name="submit" class="submit action-button" value="Submit" />
        </fieldset>
    </form>
</body>
</html>