<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title_app}}</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="align-center">
    <div class="heading">
        <div class="align-center">
            <h1>{{title_app}}</h1>
            <p class="desc">Squads For People Working In The Project</p>
            <button class="btn" id="btn-start">
                <a href="/list">List</a> <br />
            </button>
            <button class="btn" id="btn-start">
                <a href="/register">Register</a>
            </button>              
        </div>
    </div>
</body>
</html>