<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title_app}} - List</title>
    <link rel="stylesheet" href="../static/css/list.css">
    <script src="../static/js/list.js"></script>
</head>
<body>
<section>
    <!--for demo wrap-->
    <h1>Squads HBSIS</h1>
    <div class="tbl-header">
      <table id='table-squad' cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>PeopleNumber</th>
                <th>LanguageBackEnd</th>
                <th>FrameworkFrontEnd</th>
                <th>Options</th>
            </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
            {% for s in lista %}
            <tr>
                <td>{{ s.id }}</td>
                <td>{{ s.name }}</td>
                <td>{{ s.description }}</td>
                <td>{{ s.peoplenumber }}</td>
                <td>{{ s.languagebackend }}</td>
                <td>{{ s.frameworkfrontend }}</td>                  
                <td>
                    <a href="/register?id={{ s.id }}" class="select">Edit</a>
                    <a href="/delete?id={{ s.id }}" class="select">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</body>
</html>