<!DOCTYPE html>
<html style="font-size: 10px;font-family: Arial, Verdana, sans-serif; " lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Endereço</title>
</head>
<body>
    <table>
        <caption> TABELA DE ENDEREÇO </caption>
            {% for e in lista %}
                <tr><td>ID</td> <td>{{e.id}}</td></tr>
                <td><td>CEP</td> <td>{{e.cep}</td>}</tr>
                <tr><td>Rua</td> <td>{{e.rua}}</td></tr>
                <tr><td>Número</td> <td>{{e.numero}}</td></tr>
                <tr><td>Bairro</td> <td>{{e.bairro}</td></tr>
                <tr><td>Cidade</td> <td>{{e.cidade}}</td></tr>
            {% endfor %}
    </table>
</body>
</html>

