<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title_app}} - Register</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="content">
        <form action="/save" method="get">
            <input type="hidden" name="id" id="id" value="{{squad.id}}"> <br/>
            <div class="description"> 
                <label for="name">Name:</label>
            </div>
            <input type="text" name="name" id="name" placeholder="Type a name" value="{{squad.name}}"> <br/>
            <div class="description"> 
                <label for="description">Description:</label>
            </div>
            <input type="text" name="description" id="description" value="{{squad.description}}"> <br/>
            <div class="description"> 
                <label for="peoplenumber">PeopleNumber:</label>
            </div>
            <input type="text" name="peoplenumber" id="peoplenumber" value="{{squad.peoplenumber if squad.peoplenumber != 0 else ''}}"> <br/>
            <div class="description"> 
                <label for="languagebackend">LanguageBackEnd:</label>
            </div>
            <input type="text" name="languagebackend" id="languagebackend" value="{{squad.languagebackend}}"> <br/>
            <div class="description"> 
                <label for="frameworkfrontend">FrameworkFrontEnd:</label>
            </div>
            <input type="text" name="frameworkfrontend" id="frameworkfrontend" value="{{squad.frameworkfrontend}}"> <br/>

            <hr/>
            <input type="submit" value="Save" class="save">
            <a href="/register" class="Clear">Clear</a>
            <footer class="pricing-footerthree">
                <a class='selectthree' href="/">Back Menu</a>
            </footer>    
        </form>
    </div>
</body>
</html>