body{
    background: #ccc;
    color:#fff;
}
#table-people{
    width: 95%;
    margin: 3em auto 2em;
    border-collapse: collapse;
    border-radius: 1em;
    background: #fff;
    border-radius: 1em;
}
#table-people thead tr th{
    background: #000;
    padding: 0.8em;
    text-align: left;
    
}
#table-people tbody tr td{
    padding: 0.3em;
    color:#000;
}
.btn-register{
    color:#fff;
    background: #185201;
    margin: 2.2 em ;
    padding: 10px;
    text-decoration: none;
}
.btn-register:hover{
    color:#185201;
    background: #fff;
    border: 1px solid #185201;
}
.content{
    width: 80%;
    margin:80px auto;
}


/* Forms */
form{
    width: 60%;
    margin: 2em auto ;
    padding: 3em 4em 2em;
    border: 1px solid #777777a2;
}
.edit{
    color:#fff;
    padding: 0.2em;
    text-decoration: none;
    background:#f8d700;
}
.edit:hover{
    color:#f8d700;
    background:#fff;
    border:1px solid #f8d700;
}
.delete{
    padding: 0.2em;
    text-decoration: none;
    color:#fff;
    background:#f00;
}
.delete:hover{
    color:#f00;
    background:#fff;
    border: 1px solid #f00;
}

.save{
    background:  #185201;
    color: #fff;
    padding: 1em;
    text-transform: uppercase;
    cursor: pointer;
    width: 10em;
}
.save:hover
{
    color:#185201;
    background: #fff;
    border: 1px solid #185201;
}
.clear{
    padding: 0.6em 1em;
    background: #f8d700;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    width: 12em;
}
.clear:hover
{
    color:#f8d700;
    background: #fff;
    border: 1px solid #f8d700;
}
input[type='text']{
    padding: 1em 1.5em;
    width: 60%;
    margin-bottom: 1em;
    border-radius: 8px;
}
.description{
    width: 20%;
    text-align: right;
    margin-right: 10px;
    text-transform: uppercase;
}
input[type='text'] , .description{
    display: inline-block;
}